$dark: #282B22;
$green: #3D4A39;
$brown: #AE7B3C;
$grey: #F3F3F3;
$white: #FFFFFF;

$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 1000px;
$large-width: 1600px;


// for cursor-img
$index: calc(1vw + 1vh);
$width: calc($index * 22);
$height: calc($index * 14);