.partners {
    padding: 80px 0;

    .swiper {
        padding-bottom: 85px;

        @media (min-width: $tablet-width) {
            padding-bottom: 95px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 45px;
        height: 45px;
        border: 1px solid $green;
        border-radius: 50%;
        bottom: 0;
        top: initial;
        transition: all 0.3s ease-in;

        &::after {
            display: none;
        }

        &:hover {
            background-color: $brown;
            border-color: transparent;

            .partners__icon {
                fill: $white;
            }
        }


        @media (min-width: $tablet-width) {
            width: 55px;
            height: 55px;
        }
    }

    .swiper-button-prev {
        left: calc(50% - 52px);

        svg {
            transform: rotate(180deg);
        }

        @media (min-width: $tablet-width) {
            left: calc(50% - 65px);
        }
    }

    .swiper-button-next {
        right: calc(50% - 52px);

        @media (min-width: $tablet-width) {
            right: calc(50% - 65px);
        }
    }



    @media (min-width: $tablet-width) {
        padding: 100px 0;
    }

    @media (min-width: $desktop-width) {
        padding: 140px 0;
    }
}

.partners__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    border: 1px solid rgba(40, 43, 34, 0.2);
    filter: grayscale(1);
    opacity: 0.5;

    @media (min-width: $tablet-width) {
        height: 90px;
    }
}

.partners__title {
    margin-bottom: 40px;
    overflow: hidden;

    @media (min-width: $tablet-width) {
        margin-bottom: 60px;
    }
}